[Unit]
Description=keepwsl.service

[Service]
ExecStart=/mnt/c/Windows/System32/wsl.exe --exec sh -c "sleep infinity"

[Install]
WantedBy=default.target