[Unit]
Description=keepwsl.service

[Service]
Type=simple
ExecStart=/mnt/c/Windows/System32/wsl.exe --exec /bin/sleep infinity
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
